# Python
venv/
__pycache__/
*.pyc
# Audio
data/audio/
*.mp3
*.wav
*.flac
*.m4a
# Thumbnails
filtered_thumbnails/
raw_thumbnails/
data/album_art/
*.jpg
*.jpeg
*.png
*.webp
# Data
.env
backend/data/
*.parquet
*.csv
*.zip
