# Python
venv/
__pycache__/
*.pyc

# Audio
data/audio/
*.mp3
*.wav
*.flac
*.m4a

# Thumbnails
raw_thumbnails/
filtered_thumbnails/
data/album_art/
*.jpg
*.jpeg
*.png
*.webp

# Data
.env
*.parquet
*.csv
*.zip
